<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h1>Control de Sistema Escolar</h1>
        <hr>
        <h2>Alumnos</h2>

        <form action="#" th:action="@{/saveAlumno}" th:object="${alumno}" method="POST">
            <input type="text" th:field="*{numControl}" placeholder="Numero de control"class="form-control mb-4 col-4">

            <input type="text" th:field="*{nombre}" placeholder="Nombre de alumno" class="form-control mb-4 col-4">

            <input type="text" th:field="*{primerAp}" placeholder="Primer apellido de alumno" class="form-control mb-4 col-4">

            <input type="text" th:field="*{segundoAp}" placeholder="Segundo apellido de alumno" class="form-control mb-4 col-4">

            <input type="text" th:field="*{fechaNac}" placeholder="Fecha nacimiento de alumno" class="form-control mb-4 col-4">

            <input type="text" th:field="*{semestre}" placeholder="Semestre" class="form-control mb-4 col-4">

            <input type="text" th:field="*{carrera}" placeholder="Carrera" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Guardar alumno</button>
        </form>

        <hr>

        <a th:href="@{/}">Volver a inicio</a>
    </div>
</body>

</html>